<!DOCTYPE html>
<html>
    <title>Shuffler</title>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width", initial-scale="1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", raleway;}
    </style>
    <head>
        <script src="https://kit.fontawesome.com/4beebac41e.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="w3-top">
            <div class="w3-bar" id="myNavbar">
                <a href="{{ url_for('index') }}" class="w3-bar-item w3-button">HOME</a>
                <a href="{{ url_for('shuffler') }}" class="w3-bar-item w3-button"> SHUFFLER</a>
                {% if user is none %}
                    <a href="{{ url_for('login') }}" class="spotify-button"> Login with <i class="fab fa-spotify"></i></a>
                {% else %}
                    <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button"> LOGOUT</a>
                {% endif %}
                <a href="https://github.com/Optidox/SpotifyShuffler" class="w3-bar-item w3-right"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/optidox" class="w3-bar-item w3-right"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        {% block content %}{% endblock %}
    </body>
    <script>
        // Change style of navbar on scroll
        window.onscroll = function() {myFunction()};
        function myFunction() {
            var navbar = document.getElementById("myNavbar");
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
            } else {
                navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
            }
        }

        // Used to toggle the menu on small screens when clicking on the menu button
        function toggleFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
</html>